streamlit
osmnx
geopandas
shapely
numpy
pandas
folium
branca
pyproj
streamlit-folium
python-dotenv
scipy
tqdm
joblib
lightgbm
torch
scikit-learn
rtree
networkx
fiona
matplotlib
google-generativeai
vertexai
google-cloud-aiplatform
google-auth
google-api-core
requests
protobuf
pyyaml
typing-extensions
